table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

.img-block {
  float: none; }

.body, .body .disclaimer {
  background: #eeeeee; }

.body .td-body {
  padding: 10px; }

.body .main {
  background: #FFFFFF; }

.body h1 {
  color: #631a44;
  font-family: Arial;
  padding: 0 0.15em;
  font-size: 90px;
  margin: 0; }

.body p {
  font-family: arial;
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 10px 0; }

.body .disclaimer {
  padding: 10px 0; }

.body .disclaimer,
.body .disclaimer p {
  color: #888888;
  font-size: 11px;
  line-height: 13px; }

@media (max-width: 600px) {
  .main,
  .wide-on-mobile,
  .body {
    width: 100% !important;
    display: block !important; }
  .main td,
  .wide-on-mobile td,
  .body td,
  .main tbody,
  .wide-on-mobile tbody,
  .body tbody,
  .main tr,
  .wide-on-mobile tr,
  .body tr {
    width: 100% !important;
    display: block !important; } }
