// remove spaces in MSO
table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
.img-block{
    float: none;
}

$discText: #888888;

.body{

    &, .disclaimer{
        background: #eeeeee;
    }

    .td-body{
        padding: 10px;
    }

    .main{
        background: #FFFFFF;
    }


    h1{
        color: #631a44;
        font-family: Arial;
        // text-transform: uppercase;
        padding: 0 0.15em;
        font-size: 90px;
        margin: 0;

    }

    p{
        font-family: arial;
        line-height: 1.4em;
        padding: 0;
        margin: 0 0 10px 0;

    }

    .disclaimer{ padding: 10px 0; }
    .disclaimer,
    .disclaimer p{

        color: $discText;
        font-size: 11px;
        line-height: 13px;
    }

}

@media (max-width: 600px){
    .main,
    .wide-on-mobile,
    .body{
        width: 100% !important;
        display: block !important;
    }
    .main td,
    .wide-on-mobile td,
    .body td,
    .main tbody,
    .wide-on-mobile tbody,
    .body tbody,
    .main tr,
    .wide-on-mobile tr,
    .body tr{
        width: 100% !important;
        display: block !important;
    }
}
